{% extends './layout.html' %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>

    <div class="container title">
        <h1>MÓDULO DE ILUMICACIÓN</h1>
    </div>


    <h1>Últimos 5 registros de iluminación</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>iluminacion</th>
        <th>Fecha</th>
    </tr>

    {% for i in range(ids|length) %}
    <tr>
        <td>{{ ids[i] }}</td>
        <td>{{ iluminacion[i] }}</td>
        <td>{{ fecha[i] }}</td>
    </tr>
    {% endfor %}
</table>

 
    <div class="container23">
        <div class="chart">
            <canvas id="Chart1" width="500" height="500"></canvas>
        </div>
        <div class="chart">
            <div class="white">
                <div>
                    <h2>Temperatura actual: </h2>
                </div>
                <div>
                    <h2>Fecha: </h2>
                </div>
                <div>
                    <h2>Historial: </h2>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../static/js/chart1.js"></script>


{% endblock %}
