{% extends './layout.html' %}

{% block body %}

<body style="background-image: url('https://cbu01.alicdn.com/img/ibank/2019/580/307/12777703085_540437618.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <form class="form-signin" action="login" method="post">
                <div class="card-body p-5 text-center">
  
                <div class="mb-md-5 mt-md-4 pb-5">
                  <form class="form-signin" action="login" method="post">
  
                    <h2 class="fw-bold mb-2 text-uppercase"></h2>
                    <div class="card-body p-5 text-center">
                      <img src="https://us.123rf.com/450wm/carryver1/carryver12303/carryver1230300710/201857504-green-house-brand-logo-design-house-and-leaves-logotype-real-estate-logo-template.jpg?ver=6" class="rounded-circle" alt="Logo" width="180" height="180">
                    <br>
                      {% if mensaje %}
                    {{ mensaje  }}
                    {% endif %}
                    <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                    <div class="form-outline form-white mb-4">
                      <input type="username" id="Username" class="form-control" name="username" placeholder="username" />
                      <label for="username">Nombre de Usuario</label>
                    </div>
  
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="password" class="form-control" name="txtPassword" placeholder="Password" />
                      <label for="password">Password</label>
                    </div>
  
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/recuperar">Forgot password?</a></p>
  
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
{% endblock %}