{% extends './layout.html' %}

{% block body %}
<body>
    <style>
        table {
            width: 50%;
            margin: auto;
            border-collapse: collapse;
            text-align: center;
        }
        th {
            background-color: black;
            color: white;
            border: 1px solid black;
            padding: 10px;
        }
        td {
            border: 1px solid black;
            padding: 10px;
            background-color: white;
        }
    </style>

<style>
    .title {
        text-align: center;
        font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que desees */
    }

    .latest-records {
        text-align: center;
        font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que desees */
    }
</style>
<div class="container title">
    <br><br>
    <h1>MÓDULO DE TEMPERATURA</h1>
</div>
<br>
<h6 class="latest-records">ÚLTIMOS 5 REGISTROS DE TEMPERATURA DETECTADOS</h6>
<br>
<table border="1">
    <tr>
        <th>#</th>
        <th>TEMPERATURA</th>
        <th>FECHA Y HORA</th>
    </tr>

    {% for i in range(ids|length) %}
    <tr>
        <td>{{ ids[i] }}</td>
        <td>{{ temperatura[i] }}</td>
        <td>{{ fecha[i] }}</td>
    </tr>
    {% endfor %}
</table>



    <div class="container23">
        <div class="chart">
            <canvas id="Chart2" width="500" height="500"></canvas>
        </div>
        
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../static/js/chart1.js"></script>



{% endblock %}
