{% extends './layout.html' %}

{% block body %}
<body>
    <style>
        table {
            width: 50%;
            margin: auto;
            border-collapse: collapse;
            text-align: center;
        }
        th {
            background-color: black;
            color: white;
            border: 1px solid black;
            padding: 10px;
        }
        td {
            border: 1px solid black;
            padding: 10px;
            background-color: white;
        }
    </style>

    <div class="container title">
        <h1>MÓDULO DE TEMPERATURA</h1>
    </div>


    <h1>Últimos 5 registros de temperatura</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Temperatura</th>
        <th>Fecha</th>
    </tr>

    {% for i in range(ids|length) %}
    <tr>
        <td>{{ ids[i] }}</td>
        <td>{{ temperatura[i] }}</td>
        <td>{{ fecha[i] }}</td>
    </tr>
    {% endfor %}
</table>



    <div class="container23">
        <div class="chart">
            <canvas id="Chart2" width="500" height="500"></canvas>
        </div>
        
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../static/js/chart1.js"></script>



{% endblock %}
